:root {
  --bl-color-text: #222222;

  --bl-font-family: inherit;

  --bl-spacing-xxs: 2px;
  --bl-spacing-xs: 4px;
  --bl-spacing-sm: 8px;
  --bl-spacing-md: 16px;
  --bl-spacing-lg: 20px;
  --bl-spacing-xl: 24px;
  --bl-spacing-xxl: 32px;

  --bl-input-display: grid;
  --bl-input-gap: var(--bl-spacing-xs);
  --bl-input-padding: var(--bl-spacing-sm) var(--bl-spacing-xs); 
  --bl-input-font-size: 16px;
  --bl-input-border-radius: 4px;
  --bl-input-border-size: 1px;
  --bl-input-border-style: solid;
  --bl-input-border-color: #cecece;
  --bl-input-box-shadow: inset 0 1px 3px #ddd;
  --bl-input-group-display: grid;
  --bl-checkbox-group-display: block;
  --bl-checkbox-group-margin: var(--bl-spacing-md) 0;
  --bl-grid-display: grid;
  --bl-grid-gap: var(--bl-spacing-md);
}

.bl-input__label-copy,
.bl-select__label-copy {
  color: var(--bl-color-text);
}

.pb-select,
.pb-input {
  padding: var(--bl-input-padding);
  font-size: var(--bl-input-font-size);
  border-radius: var(--bl-input-border-radius);
  border: var(--bl-input-border-size) var(--bl-input-border-style) var(--bl-input-border-color);
  box-shadow: var(--bl-input-box-shadow);
}

.bl-checkbox-group,
.bl-input-group,
.bl-select-group {
  font-family: var(--bl-font-family);
}

.bl-input-group,
.bl-select-group {
  display: var(--bl-input-group-display);
  gap: var(--bl-input-gap);
}

.bl-checkbox-group {
  display: var(--bl-checkbox-group-display);
  margin: var(--bl-checkbox-group-margin);
}

.bl-grid {
  display: var(--bl-grid-display);
  gap: var(--bl-grid-gap);
}
